<ul>
  <% @bookmark.each do |bookmark| %>
    <li>
      <%= bookmark.name %>
      <a href="/bookmark/<%= bookmark.id %>/edit">edit</a>
      <form method='post' action="/bookmark/<%=bookmark%>/delete">
      <button>delete!</button>
      </form>
    </li>
  <% end %>
</ul>
