<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset='utf-8'>
 <link rel="stylesheet" type="text/css" href="style.css">
 <title>Bookmarker</title>
</head>
<body>
 <header>
 <h1><span class='branding'>My bookmarker</span> &ndash; lets store it for you so you dont have to remember!</h1>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/bookmarks">My Bookmarkers</a></li>
    <li><a href="/bookmarkers/new">Add New Bookmarker</a></li>
  </ul>
</nav>
<%= yield %>
</body>
</html>